## ISYS 5103 - Assignment 4

### Instructions: For each question below, you will potentially be asked to:
    - Predict - Run - Investigate: 
        - examine the code and write down in a markdown cell what you think the code will do
        - run the code and see if your prediction is right or wrong.  If wrong, that is okay. 
        - if your prediction was wrong, diagnose why, and document why (if you don't know, document that as well)
    - Modify:
        - take existing code (found in the Lesson 1d PowerPoint) and modify it to answer the below questions. 
    - Make:
        - take what we have covered in class and create a piece of code to answer the question.
        - most of this will be taking code that already exists from class or in the assignment and adapting it to a new problem

#### Submission: Print this Jupyter Notebook as a PDF document and submit it to BlackBoard (filename should be NAME_Assignment4.pdf).

<div style="background-color: #9D2235; color: white; padding: 10px; ">
    
 ## Enter Your Name and Class Section:
    
</div>

In [1]:
# Run this block of code and enter your name
name = input("Enter your name: ")

print("Name =", name + " Good Luck on your 4rd Assignment!")

Enter your name:  Isaiah Molina

Name = Isaiah Molina Good Luck on your 4rd Assignment!

<div style="background-color: #9D2235; color: white; padding: 10px; ">
  
# Pandas DataFrames and Data Manipulation
    
</div>

<div style="background-color: #9DC9D5; padding: 10px;">
    
## Question 1 - Using Pandas, load the CSV file (Band_Performances.csv) into a DataFrame and Examine the Data.
    
</div>

In [4]:
#Import Python Libraries
import numpy as np
import pandas as pd

# Step 1 - Create a blank DataFrame  

bandperformance_df = pd.DataFrame()

# step 2 - Load data from the CSV file into the DataFrame
csv_file = "Band_Performances.csv"

bandperformance_df = pd.read_csv(csv_file)

<div style="background-color: #F2F2F4; padding: 10px;">
    <h2 style="margin-bottom: 10px;">Examine the data:</h2>
 
    

</div>

In [5]:
#Step 3 - use the "info()" to inspect your DataFrame

bandperformance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11819 entries, 0 to 11818
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Performance_Date  11819 non-null  object
 1   Genre             8516 non-null   object
 2   Band_Name         11819 non-null  object
 3   Venue_Name        11819 non-null  object
 4   State_Abbr        11819 non-null  object
 5   City              11819 non-null  object
 6   TotalRev          11819 non-null  float64
dtypes: float64(1), object(6)
memory usage: 646.5+ KB

In [7]:
#Step 4 - use "shape" to provide only the rows and columns

bandperformance_df.shape

(11819, 7)

In [8]:
#Step 5 - use "dtypes" to review the column names and their data types

bandperformance_df.dtypes

Performance_Date     object
Genre                object
Band_Name            object
Venue_Name           object
State_Abbr           object
City                 object
TotalRev            float64
dtype: object

In [9]:
#Step 6 - use "describe()" to review statical information on your DataFrame
bandperformance_df.describe()

          TotalRev
count  11819.00000
mean   10061.71644
std    17388.59790
min     1000.07000
25%     3048.87500
50%     5086.02000
75%     8103.48000
max    99800.54000

In [10]:
#Step 7 - now use "describe()" to review information on all your DataFrame columns, not just TotalRev

bandperformance_df.describe(include='all')

,Performance_Date,Genre,Band_Name,Venue_Name,State_Abbr,City,TotalRev
count,11819,8516,11819,11819,11819,11819,11819.00000
unique,4977,6,400,18,6,18,NaN
top,2/20/2013,Pop,Vagabond Peng ...,Amar's Bar and Grill ...,CA,Fort Smith ...,NaN
freq,9,1946,78,713,4583,713,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,10061.71644
std,NaN,NaN,NaN,NaN,NaN,NaN,17388.59790
min,NaN,NaN,NaN,NaN,NaN,NaN,1000.07000
25%,NaN,NaN,NaN,NaN,NaN,NaN,3048.87500
50%,NaN,NaN,NaN,NaN,NaN,NaN,5086.02000
75%,NaN,NaN,NaN,NaN,NaN,NaN,8103.48000
max,NaN,NaN,NaN,NaN,NaN,NaN,99800.54000

In [11]:
#Step 8 - Verify Totals: calcualte the total records and sum TotalRev in your DataFrame.  

row_count = bandperformance_df.shape[0]
total_revenue = bandperformance_df['TotalRev'].sum()

print(f"Row count: {row_count}")
print(f"Total Revenue: {total_revenue}")

# Note - Open the CSV file in Excel and validate that it matches.  Does it match (Answer: Yes or No)?
#Yes

Row count: 11819
Total Revenue: 118919426.61

<div style="background-color: #9DC9D5; padding: 10px;">
    
## Question 2 - Clean up the data and make it more useful
    
</div>

In [12]:
#Step 1 check for missing values:

bandperformance_df.isnull().sum()

Performance_Date       0
Genre               3303
Band_Name              0
Venue_Name             0
State_Abbr             0
City                   0
TotalRev               0
dtype: int64

In [13]:
#Step 2 - fix the missing values: set the Genre NaN records = "NA"  
#tip - the Genre is datatype object (the example in the PowerPoint used float), so you will need to modify 

bandperformance_df['Genre'].fillna('NA', inplace = True)

In [14]:
#Step 3 - Recheck for missing values, are they all Zero?

bandperformance_df.isnull().sum()

Performance_Date    0
Genre               0
Band_Name           0
Venue_Name          0
State_Abbr          0
City                0
TotalRev            0
dtype: int64

In [15]:
#Step 4 - the State_Abbr field has Texas spelled out, replace the value with TX.

bandperformance_df['State_Abbr'].replace('Texas', 'TX', inplace = True)

In [17]:
#Step 5 - Convert the Performance_Date from datatype object to datetime

bandperformance_df['Performance_Date'] = pd.to_datetime(bandperformance_df['Performance_Date'])

#verify that it has changed using  "dtypes" 

bandperformance_df.dtypes

Performance_Date    datetime64[ns]
Genre                       object
Band_Name                   object
Venue_Name                  object
State_Abbr                  object
City                        object
TotalRev                   float64
dtype: object

<div style="background-color: #9DC9D5; padding: 10px;">
    
## Question 3 - Create new columns 
</div>

In [18]:
#Step 1 - Create a new column for the 'Year_Qtr' column by formatting 'Performance_Date' with the to_period function

bandperformance_df['Year_Qtr'] = bandperformance_df['Performance_Date'].dt.to_period("Q")

In [20]:
#Step 2 - Create a new column of your choice using either the bin_edges and bin lables approach or the lambda function

bandperformance_df['Month'] = bandperformance_df['Performance_Date'].apply(lambda x: x.month)
print(bandperformance_df['Month'])

0         9
1         9
2        10
3        10
4        10
         ..
11814     5
11815     5
11816     5
11817     6
11818     6
Name: Month, Length: 11819, dtype: int64

<div style="background-color: #9DC9D5; padding: 10px;">
    
## Question 4 - Aggregate functions to further review your DataFrame


</div>

In [21]:
#Step 1 - Review the distributions of your newly created group (record count) using the groupby function

bandperformance_df.groupby('Year_Qtr').size()

Year_Qtr
1998Q1     85
1998Q2     95
1998Q3     49
1998Q4     34
1999Q1     30
         ...
2014Q3    301
2014Q4    244
2015Q1    134
2015Q2     32
2015Q3      3
Freq: Q-DEC, Length: 71, dtype: int64

In [22]:
#Step 2 - How many unique Genres are in the data?

bandperformance_df['Genre'].nunique()

7

In [23]:
#Step 3 - Print out the unique list of Genres in the data:

bandperformance_df['Genre'].unique()

array(['NA', 'Rock', 'Jazz', 'Rap', 'Gospel', 'Pop', 'Classical'],
      dtype=object)

In [24]:
#Step 4 - What is the sum of TotalRev by State_Abbr

bandperformance_df.groupby('State_Abbr')['TotalRev'].sum()

State_Abbr
AR    27117026.86
AZ     6512111.71
CA    44442631.23
LA    13363373.09
OK     7712094.73
TX    19772188.99
Name: TotalRev, dtype: float64

In [26]:
#Step 5 - What is the Average TotalRev by State_Abbr

bandperformance_df.groupby('State_Abbr')['TotalRev'].mean()

State_Abbr
AR    10271.601083
AZ    10207.071646
CA     9697.279343
LA    10572.288837
OK    11324.661865
TX     9822.249871
Name: TotalRev, dtype: float64

<div style="background-color: #9DC9D5; padding: 10px;">
    
## Questions 5 - Filter and Sorting your DataFrame
</div>

In [27]:
#Step 1 - using the Boolean mask technique, filter your dataframe where TotalRev > 15000 and State_Abbr = CA

bandperformance_df[(bandperformance_df['TotalRev'] > 15000) & (bandperformance_df['State_Abbr'] == 'CA')]

,Performance_Date,Genre,Band_Name,Venue_Name,State_Abbr,City,TotalRev,Year_Qtr,Month
6,2009-10-09,Rap,Early Anisha ...,Dorothy's ...,CA,Redwood City ...,50567.91,2009Q4,10
47,2004-11-13,Pop,The Craven Televisions ...,Tadashi's ...,CA,San Jose ...,15511.91,2004Q4,11
121,2010-04-03,Pop,Capricious Future ...,Cheetah Expressway Bar ...,CA,Mission Viejo ...,70171.54,2010Q2,4
139,2010-06-19,Jazz,Gladden The Doom ...,Anjali's on Puma ...,CA,Petaluma ...,72681.02,2010Q2,6
144,2010-07-12,Classical,The Orange Experiment ...,Yukiko's ...,CA,Santee ...,35113.56,2010Q3,7
...,...,...,...,...,...,...,...,...,...
11600,2008-12-21,NA,The Khatri Cartel ...,Yukiko's ...,CA,Santee ...,51039.26,2008Q4,12
11634,2009-10-25,Pop,Incompetent Zhou ...,Madison Road Bar ...,CA,Oceanside ...,56445.79,2009Q4,10
11636,2009-11-04,NA,The Lin Experiment ...,Dorothy's ...,CA,Redwood City ...,70999.71,2009Q4,11
11653,2009-06-09,Jazz,The Nostalgic Fields ...,Cheetah Expressway Bar ...,CA,Mission Viejo ...,50776.20,2009Q2,6
11759,2010-03-10,Gospel,Magical Pradeep ...,Dorothy's ...,CA,Redwood City ...,83821.54,2010Q1,3

In [29]:
#Step 2 - using the query method, filter your dataframe where Performance_Date between 2/1/09-6/30/09 
#         and save the results to a new dataframe with your filtered results

new_df = bandperformance_df.query('Performance_Date >= "2009-02-01" and Performance_Date <= "2009-06-30"')

In [30]:
#Step 3 - Sort your newly created dataframe by Performance Date (descending) and Band_Name (ascending)

new_df.sort_values(by=['Performance_Date', 'Band_Name'], ascending=[False, True])

,Performance_Date,Genre,Band_Name,Venue_Name,State_Abbr,City,TotalRev,Year_Qtr,Month
6826,2009-06-30,Rock,Kali And The Fields ...,Matthew's Bar and Grill ...,AR,Little Rock ...,3615.58,2009Q2,6
11657,2009-06-29,NA,Guo Chen ...,Gang's on Third ...,TX,Fort Stockton ...,8679.28,2009Q2,6
3387,2009-06-29,Classical,Hurt The Abstraction ...,Gang's on Third ...,TX,Fort Stockton ...,9649.81,2009Q2,6
992,2009-06-29,Classical,Lian He ...,Cheetah Expressway Bar ...,CA,Mission Viejo ...,92021.15,2009Q2,6
991,2009-06-28,NA,Cry The Agent ...,Jessica's on Wilson ...,AR,Atkins ...,3867.59,2009Q2,6
...,...,...,...,...,...,...,...,...,...
10248,2009-02-02,Rock,Takumi Yoshida ...,Grace's ...,TX,Garland ...,3498.86,2009Q1,2
11614,2009-02-02,NA,The Castillo Group ...,Madison Road Bar ...,CA,Oceanside ...,8704.24,2009Q1,2
571,2009-02-01,Rap,Ordinary Honor ...,Dorothy's ...,CA,Redwood City ...,7083.98,2009Q1,2
10247,2009-02-01,NA,The Macho Beings ...,Cheetah Expressway Bar ...,CA,Mission Viejo ...,2069.29,2009Q1,2
572,2009-02-01,Jazz,The Yoshida Gamble ...,Dorothy's ...,CA,Redwood City ...,8318.43,2009Q1,2